.ion-content  {
  background-color: #7159c18f;
}
.containeraBase{
  background-color: #7159c1;
}
.tela-inicio{
  
}

.contaner{
  background-color: #7159c100;
}
.card-title {
  background-color: #340bb909;
  font-size: 2.0em;
  font-weight: bold;
  color: rgb(98, 28, 131);
}

.paragrafo  {
  margin: 10px;
  font-size:2.0em;
}

img {
  height: 50%;
}

.titulo1Container  {
  height: 200px;
  margin: 100px 100px;
  
}




